<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit author</title>
</head>
<body>


<p th:text="*{author.getId()}">Value</p>
<a href="/authors">To authors</a>


<form th:method="PATCH" th:action="@{/authors/{id}(id=${author.getId()})}" th:object="${author}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br>
    <input type="submit" value="Update!">
</form>
<br>
<hr>

<form th:method="DELETE" th:action="@{/authors/{id}(id=${author.getId()})}" th:object="${author}">
    <input type="submit" value="Delete!">
</form>



</body>
</html>